/* PRIMARY COLORS */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F6F6F6;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #353535;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 24px;
  padding: 20px 0;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  transition: all 500ms ease-in-out;
}
a:hover {
  text-decoration: underline;
}

header {
  background-color: white;
  padding: 10px 20px;
  text-align: center;
  color: #101010;
  line-height: 44px;
}
header a {
  float: left;
}

.logo {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 30px;
}

section, footer {
  padding: 40px 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.btn {
  background: #9356DC;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  transition: background 800ms ease-in-out, box-shadow 500ms ease-in-out;
}
.btn:hover {
  background: #b184e5;
  background: linear-gradient(200.64deg, #b184e5 -5.2%, #ff9ee5 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  text-decoration: none;
}

.like {
  background: #353535;
  font-weight: 400;
  float: right;
  cursor: pointer;
  transition: background 800ms ease-in-out, font-weight 500ms ease-in-out;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.like:hover {
  background: #9356DC;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  font-weight: 700;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  color: white;
  background-color: #353535;
}
footer h2 {
  padding-bottom: 0;
}
footer ul {
  list-style: none;
}
footer a {
  color: white;
}
footer a:hover {
  color: #99E2D0;
}
footer li {
  padding: 5px 0;
}
footer i {
  margin-right: 10px;
}

@media (min-width: 768px) {
  body {
    font-size: 17px;
  }
  .container {
    max-width: 1055px;
    margin: 0 auto;
    width: 100%;
  }
  .logo {
    font-size: 37px;
    line-height: 55px;
  }
  .btn {
    padding: 16px 30px;
  }
  footer .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
  }
  footer .logo {
    font-size: 18px;
    order: 2;
    padding: 0;
  }
  footer ul {
    display: flex;
    gap: 15px;
  }
}
@-webkit-keyframes loader {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes loader {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
.loader {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: fixed;
  width: 100%;
  -webkit-animation: loader 2s ease-out 3s both;
          animation: loader 2s ease-out 3s both;
  z-index: 100;
}
.loader span {
  border: 8px solid #F6F6F6;
  border-top: 8px solid #9356DC;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.location {
  background-color: #EAEAEA;
  height: 50px;
  line-height: 50px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.location i {
  margin-right: 1em;
}

.teazer {
  text-align: center;
  padding: 40px;
  display: block;
}
.teazer p {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 40px;
}
.teazer h2 {
  padding: 0 30px 20px 30px;
}

.bgWhite {
  background-color: white;
}

.fonctionement {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.fonctionement li {
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  font-weight: 500;
  margin: 15px 0;
  height: 72px;
  display: flex;
  align-items: center;
  position: relative;
  gap: 25px;
  padding-left: 30px;
}
.fonctionement li:last-child {
  background-color: #F5EDFF;
}
.fonctionement li:last-child i {
  color: #9356DC;
}
.fonctionement li span {
  position: absolute;
  width: 24px;
  height: 24px;
  left: -12px;
  border-radius: 100%;
  color: white;
  background-color: #9356DC;
  text-align: center;
  line-height: 24px;
}

.cards--restaurant {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 18px;
}
.cards--restaurant article {
  background: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 0 12px 12px 12px;
  overflow: hidden;
}
.cards--restaurant article a {
  color: #353535;
}
.cards--restaurant article a:hover {
  color: #9356DC;
}
.cards--restaurant .thunbmail {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 175px;
  margin: 0 -12px 16px -12px;
}
.cards--restaurant .thunbmail span {
  position: absolute;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  color: #008766;
  background-color: #99E2D0;
  padding: 7px 9px;
  top: 13px;
  right: 12px;
  z-index: 2;
}
.cards--restaurant .thunbmail img {
  transition: all 500ms ease-in-out;
}
.cards--restaurant .thunbmail img:hover {
  transform: scale(1.3);
}

@media (min-width: 768px) {
  .teazer {
    font-size: 18px;
  }
  .teazer h2 {
    font-size: 40px;
  }
  .bgWhite h2 {
    align-self: flex-start;
  }
  .fonctionement {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
  }
  .fonctionement li {
    width: 28%;
  }
  .cards--restaurant {
    flex-direction: row;
  }
  .cards--restaurant article {
    width: 311px;
    flex-shrink: 0;
  }
}
.menu {
  border-radius: 40px 40px 0px 0px;
  top: -50px;
  background-color: #F6F6F6;
  padding: 30px 15px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.menu h2 {
  padding: 0;
}
.menu .like {
  font-size: 24px;
  margin-right: 15px;
}
.menu h3 {
  font-weight: 300;
  font-size: 16px;
  align-self: flex-start;
}
.menu h3::after {
  content: "";
  display: block;
  background-color: #008766;
  height: 3px;
  width: 40px;
  margin-top: 10px;
}
.menu section, .menu .restaurant-name {
  display: block;
  max-width: 630px;
  margin: 0 auto;
  width: calc(100% - 40px);
}
.menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 15px;
}
.menu li {
  background-color: white;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  margin: 12px 0;
  height: 70px;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}
.menu li * {
  transition: all 500ms ease-in-out;
}
.menu li:hover .text, .menu li .text:hover {
  margin-right: 60px;
}
.menu li:hover .check {
  right: 0;
}
.menu .text {
  padding: 12px;
  float: left;
}
.menu .price {
  font-size: 15px;
  font-weight: 700;
  float: right;
}
.menu .check {
  position: absolute;
  color: white;
  background-color: #99E2D0;
  height: 70px;
  width: 60px;
  line-height: 70px;
  font-size: 20px;
  text-align: center;
  top: 0;
  margin-left: 15px;
  right: -60px;
}
.menu .btn {
  max-width: 180px;
  margin: 0 auto;
}
.menu h4 {
  font-size: 18px;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

@media (min-width: 768px) {
  .banner {
    max-height: 400px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .menu {
    top: -80px;
    font-size: 16px;
  }
  .menu li {
    width: 100%;
  }
  .menu h4 {
    max-width: none;
  }
}/*# sourceMappingURL=style.css.map */