/* PRIMARY COLORS */
$light_Green: #99E2D0;
$green: #008766;
$light_blue: #89C8FA;
$blue: #003A68;
$purple: #9356DC;
$grey: #353535;
$light_grey: #F6F6F6;
$black: #101010;
$grey2: #EAEAEA;

@import "parcials/loader";
@import "parcials/home";
@import "parcials/restaurant-page";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $light_grey;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: $grey;
}

img {
    max-width: 100%;
}

h2 {
    font-size: 24px;
    padding: 20px 0;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    padding-bottom:5px;
}
a {
    text-decoration: none;
    transition: all 500ms ease-in-out;
    &:hover {
        text-decoration: underline;
    }
}

header {
    background-color: white;
    padding:10px 20px;
    text-align: center;
    color: $black;
    line-height: 44px;
    a {
        float: left;
    }
}
.logo {
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 30px;
}

section {
    padding: 40px 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.btn {
    background: #9356DC;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    transition: background 800ms ease-in-out, box-shadow 500ms ease-in-out;
    &:hover {
        background: #b184e5;
        background: linear-gradient(200.64deg, #b184e5 -5.2%, #ff9ee5 110.74%);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
        text-decoration: none;
    }
}
.like {
    background: $grey;
    font-weight: 400;
    float: right;
    cursor: pointer;
    transition: background 800ms ease-in-out, font-weight 500ms ease-in-out;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    &:hover {
        background:#9356DC;
        background:linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        font-weight: 700;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
footer {
    color: white;
    background-color: $grey;
    h2 {
        padding-bottom: 0;
    }
    ul {
        list-style: none; 
    }
    a {
        color: white;
        &:hover {
            color: $light_Green;
        }
    }
    li {
        padding: 5px 0;
    }
    i {
        margin-right: 10px;
    }
}