/* PRIMARY COLORS */
/*loader*/
@-webkit-keyframes loader {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes loader {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
.loader {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: fixed;
  width: 100%;
  -webkit-animation: loader 2s ease-out 5s both;
          animation: loader 2s ease-out 5s both;
  z-index: 100;
}
.loader span {
  border: 16px solid #F6F6F6;
  border-top: 16px solid #9356DC;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F6F6F6;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #353535;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 24px;
  padding: 20px 0;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  transition: all 500ms ease-in-out;
}
a:hover {
  text-decoration: underline;
}

header {
  background-color: white;
  padding: 10px;
  text-align: center;
  color: #101010;
}

.logo {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
}

.location {
  background-color: #EAEAEA;
  height: 50px;
  line-height: 50px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.location i {
  margin-right: 1em;
}

section {
  padding: 40px 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.menu {
  text-align: center;
  padding: 40px;
  display: block;
}
.menu p {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 20px;
}
.menu h2 {
  padding: 0 30px 20px 30px;
}

.btn {
  background: #9356DC;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  transition: background 800ms ease-in-out, box-shadow 500ms ease-in-out;
}
.btn:hover {
  background: #b184e5;
  background: linear-gradient(200.64deg, #b184e5 -5.2%, #ff9ee5 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  text-decoration: none;
}

.bgWhite {
  background-color: white;
}

.fonctionement {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.fonctionement li {
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  font-weight: 500;
  margin: 15px 0;
  height: 72px;
  display: flex;
  align-items: center;
  position: relative;
  gap: 25px;
  padding-left: 30px;
}
.fonctionement li:last-child {
  background-color: #F5EDFF;
}
.fonctionement li:last-child i {
  color: #9356DC;
}
.fonctionement li span {
  position: absolute;
  width: 24px;
  height: 24px;
  left: -12px;
  border-radius: 100%;
  color: white;
  background-color: #9356DC;
  text-align: center;
  line-height: 24px;
}

.cards--restaurant {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 18px;
}
.cards--restaurant article {
  background: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 0 12px 12px 12px;
  overflow: hidden;
}
.cards--restaurant article a {
  color: #353535;
}
.cards--restaurant article a:hover {
  color: #9356DC;
}
.cards--restaurant article .like {
  background: #353535;
  font-weight: 400;
  float: right;
  cursor: pointer;
  transition: background 800ms ease-in-out, font-weight 500ms ease-in-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cards--restaurant article .like:hover {
  background: #9356DC;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cards--restaurant .thunbmail {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 175px;
  margin: 0 -12px 16px -12px;
}
.cards--restaurant .thunbmail span {
  position: absolute;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  color: #008766;
  background-color: #99E2D0;
  padding: 7px 9px;
  top: 13px;
  right: 12px;
  z-index: 2;
}
.cards--restaurant .thunbmail img {
  transition: all 500ms ease-in-out;
}
.cards--restaurant .thunbmail img:hover {
  transform: scale(1.3);
}

footer {
  color: white;
  background-color: #353535;
}
footer h2 {
  padding-bottom: 0;
}
footer ul {
  list-style: none;
}
footer a {
  color: white;
}
footer a:hover {
  color: #99E2D0;
}
footer li {
  padding: 5px 0;
}
footer i {
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */