@keyframes loader {
	from {
        visibility: visible;
	}
	to {
        visibility: hidden;
	}
}

@-moz-keyframes spin {
    from { 
        -moz-transform: rotate(0deg); 
    }
    to { 
        -moz-transform: rotate(360deg); 
    }
}
@-webkit-keyframes spin {
    from { 
        -webkit-transform: rotate(0deg); 
    }
    to { 
        -webkit-transform: rotate(360deg); 
    }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.loader {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: fixed;
    width: 100%;
    animation: loader 2s ease-out 3s both;
    z-index: 100;
    span {
        border: 8px solid $light_grey;
        border-top: 8px solid $purple;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin 2s linear infinite;
    }
}