@keyframes menu-item {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
    
}
.menu {
    border-radius: 40px 40px 0px 0px;
    top:-50px;
    background-color: $light_grey;
    padding: 30px 15px;
    position: relative;
    z-index: 2;
    .itens {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    h2 {
        padding: 0;
    }
    .like {
        font-size: 24px;
        margin-left: 30px;
        float: none;
    }
    h3 {
        font-weight: 300;
        font-size: 16px;
        align-self: flex-start;
        margin:40px 0 12px 0;
        &::after {
            content: "";
            display: block;
            background-color: $green;
            height:3px;
            width: 40px;
            margin-top: 10px;
        }
    }
    .restaurant-name {
        display: flex;
        margin: 0 auto;
        width: calc(100% - 40px);
        align-items: center;
    }
    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap:15px;
    }
    li {
        background-color:white;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        display: flex;
        height:70px;
        width: 100%;
        overflow: hidden;
        flex-direction: column;
        position: relative;
        cursor: pointer;
        animation: menu-item 4s ease-in;
        * {
            transition: all 500ms ease-in-out;
        }
        &:hover .text, .text:hover{
            margin-right: 60px;
        }
        &:hover .check {
            right:0;
        }

    }
    .text {
        padding: 12px;
        float: left;
    }
    .price {
        font-size: 15px;
        font-weight: 700;
        float: right;
    }
    .check {
        position: absolute;
        color: white;
        background-color: $light_Green;
        height:70px;
        width:60px;
        line-height: 70px;
        font-size: 20px;
        text-align: center;
        top: 0;
        margin-left:15px;
        right: -60px;
    }
    .btn {
        max-width: 120px;
        margin: 20px auto; 
        display: block;
        text-align: center;
    }
    h4 {
        font-size: 18px;
        line-height: 25px;
    } 
    h4, p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width:250px;
    }
}